@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #FFFFFF;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
::-webkit-scrollbar {
  width: 5px; /* Vertical scrollbar width */
  margin-left: 10px;
  padding-left: 10px;
}

::-webkit-scrollbar-track {
  display: none;
  background: blue;
  margin-left: 10px;
}

::-webkit-scrollbar-thumb {
  background: #e0edf8;
}
